@mixin btn() {
  padding: 0.3rem 0.5rem;
  border-radius: 5px;

  &:hover {
    box-shadow: var(--box-shadow);
  }
}

@mixin link() {
  color: var(--text-link-color);
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}

@mixin card() {
  //opacity:0.1;
  border-radius: 10px;
  padding: 1rem;
  //background: var(--light-color);
  background: rgba(255,255,255,0.6);
  box-shadow: var(--box-shadow);
}
